<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="Launch.Filename" value="svchost.exe"/>
    <add key="Launch.Update.Location" value="c:\Projects\HlidacSmluv\Downloader\bin\Debug"/><!-- must starts with http(s) or path (c:\, \\server\path) -->
    <add key="Launch.Update.Exclude" value="*.config;*.log4net;"/>

  </appSettings>
</configuration>
